<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
	<meta http-equiv="Cache-Control" content="no-cache">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../public/base.css">
	<link rel="stylesheet" type="text/css" href="../css/m_index.css">
	<script src="../public/m_config.js"></script>

</head>
<body>
	<a href="listMore.html" style="display:block;width:32rem;height:20rem;background:red;color:#fff;font-size:30px;">baidu</a>
</body>
</html>
