<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
	<meta http-equiv="Cache-Control" content="no-cache">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../public/base.css">
	<link rel="stylesheet" type="text/css" href="../css/m_index.css">
	<script src="../public/m_config.js"></script>
	<style>
	body,html{
		overflow: hidden;
		height: 100%;
	}
		p{
			font-size: 2rem;
			line-height: 150%;;
		}
		input{
			-position: absolute;
			display: block;
			width: 100%;
			height: 2rem;
			border: 2px solid red;
		}
	</style>
</head>
<body>
	<p>文字</p>
	<p>文字</p>
	<p>文字</p>
	<p>文字</p>
	<p>文字</p>
	<p>文字</p>
	<p>文字</p>
	<p>文字</p>
	<p>文字</p>
	<p>文字</p>
	<p>文字</p>
	<p>文字</p>
	<p>文字</p>
	<input type="text" id="inp"/>
	<p>文字</p>
	<p>文字</p>
	
	<p>文字</p>
	<p>文字</p>
	<p>文字</p>
	<p>文字</p>
	<p>文字</p>
	<p>文字</p>
</body>
</html>
<script>
	window.onload=function (){
		/*var inp=document.getElementById("inp");
		inp.onfocus=function (){
			//alert("foucus");
			//alert(document.body.scrollHeight);
			document.body.style.background="yellow";
		}*/
		type="bc";
		if( /^b/.test(type)){//banner
			alert(type);
		//obj.pushLog(type,"mobile/banner_detail/video_detail.html","04","","");
	}
	};
	window.onscroll=function (){
		//alert("onscroll");
		document.body.style.background="green";
	}
	window.onresize=function (){
		//alert("onresize");
		document.body.style.background="red";
	}
</script>